.green-item {
    background-color: #048383;
    color: white;
    width: fit-content;
    border-radius: 5px;
    padding: 8px 20px;
    text-transform: uppercase;
}

.not-green-item {
    background-color: transparent;
    color: white;
    width: fit-content;
    border-radius: 5px;
    padding: 8px 20px;
    border: 1px solid #048383;
    text-transform: uppercase;

}